body, html
{
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: Whitney,Helvetica,Arial,sans-serif;
}

/**intro hello styling*/
.intro-hi {
	font-weight: 300;
	color: white;
	font-size: 2em;

}
/**styling for the headers, just font size and display style*/
@media screen and (max-width: 768px)
.intro-hi {
	font-size: 2rem;
}

/*for the links on the bar*/
@keyframes fade-in-right {
	from {
	  opacity: 0;
	  transform: translateX(-15px);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);	
	}
}

@keyframes grow-left {
	from {
	  transform: scaleX(0);	
	}
	to {
      transform: scaleX(1);			
	}
}


/**styling for intro portion of first page*/
/**need to force the content towards center, can use padding to */

.intro {
	display: flex;
	padding: 80px 110px;
	height: 90vh;
	flex-direction: column; /**all following elements fall vertically*/
	justify-content: space-around;
	background: linear-gradient(to top, #000000 0%, #434343 100%); /**background image*/
	color: white;
}

.me-info {
	text-align: center;
	font-size: 4em;
}


.intro .intro-pitch {
	max-width: 700px;
	color: white;
}

.intro-contact {
	color: white;
	font-size: 2em;
}

.emojiman {
	height: 40px;
	width: 40px;
}


.symbol img {
	width: 150px;
	height: 15%;
	float: left;
}

.aboutme-wrapper {
	display: flex;
	flex-wrap: wrap; /*trailing text wraps onto next line*/
	font-size: 1.15rem;
	height: 100vh;	
	width: 100%;
	padding-top: 30px;
	background: linear-gradient(#00F260,#0575E6);
	border-bottom: 3px solid black;
	justify-content: space-around;
	background-size: cover;
}



.title {
	font-size: 50px;
	background: linear-gradient(#0575E6,#00F260);
	align-self: center;
	text-align: center;
}

/*the personal image in the who are you section*/
.imageholder .myself {
	height:40vh;
	align-self: center;
	flex-shrink: 1;
}


/*this will change the list of paragraphs*/
.who_content .intro_item {
	margin-bottom: 25px;
	max-width: 650px; /**need this to shrink length of text*/
	display: flex;
}



/**for the who are you section*/
.background {
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	height: 100vh;
	display: flex;
}

.skills_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; /*flex items show up in middle of div*/
	background-image: linear-gradient(to top, #F7971E 0%, #FFD200 100%);
}

.skill-header {
	display: flex;
	background-image: linear-gradient(to top, #F7971E 0%, #FFD200 100%);
	margin-bottom: 0px;
	margin-top: 0px;
}

/**currently learning there is a blank box that appears out of nowhere
between two divs or sections, will fix later*/

/**the icon class covers the multiple skill images */
.icon{
	margin-right:50px;
	height: 30vh;
	width: 30vh;
}

/*the PARENT CONTAINER for the project divs*/
.portfolio {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	font-size: 1.15rem;
	height: 100vh;
	background-image: linear-gradient(to top, #000000 0%, #434343 100%);
	color: white;
}

/*centering of header text*/
.portfolio-item .project1 {
	text-align: center;
}


.portfolio-item .project-info {
	margin-top: 10px;
}



.imageholder { /**force the images to 3 a row with flex property*/
	display: flex;
	flex-wrap: wrap;
 	flex: 0 0 calc(33.33% - 30px);
 	margin: 5px;
}

.tool-heading {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tools-wrapper {
	background-image: linear-gradient(to top, #000000 0%, #434343 100%);
	color: white;
	height: 30vh;
}


.tool-list {
	list-style: none;
	padding: 0;
}

/**the social links container*/
.social-links {
	display: flex;
	height: 50vh;
	justify-content: center;
}


.link {
	padding-right: 50px;
}

/*the linkedin letters showed up way too big initially*/
.linkicon {
	height: 15vh; 
	width: 15vh;
}








